{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "OOP Core NLP Viewer",
    "contact" : {
      "name" : "Ram Sadasiv",
      "email" : "io.outofprintmagazine@gmail.com"
    },
    "license" : {
      "name" : "GPL-3.0-or-later",
      "url" : "https://www.gnu.org/licenses/gpl-3.0-standalone.html"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://beta.outofprintmagazine.io/oopcorenlp_web",
    "description" : "Review and visualize NLP features generated by oopcorenlp"
  } ],
  "paths" : {
    "/rest/api/ActorAnnotation" : {
      "get" : {
        "operationId" : "doGet",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Actor",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Format",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/ActorsScalar" : {
      "get" : {
        "operationId" : "doGet_1",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Format",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/AnnotationDescription" : {
      "get" : {
        "operationId" : "doGet_2",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/CorpusAnnotationSubannotationsAggregates" : {
      "get" : {
        "operationId" : "doGet_3",
        "parameters" : [ {
          "name" : "TargetCorpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "AggregateName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/CorpusAnnotationSubannotationsCVScores" : {
      "get" : {
        "operationId" : "doGet_4",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "AggregateName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/CorpusAnnotationsCVScores" : {
      "get" : {
        "operationId" : "doGet_5",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "AggregateName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/CorpusDocumentAnnotationSubannotationsAggregates" : {
      "get" : {
        "operationId" : "doGet_6",
        "parameters" : [ {
          "name" : "TargetCorpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "AggregateName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/CorpusDocumentAnnotationSubannotationsSimilarity" : {
      "get" : {
        "operationId" : "doGet_7",
        "parameters" : [ {
          "name" : "TargetCorpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/CorpusDocumentAnnotationSubannotationsTfidf" : {
      "get" : {
        "operationId" : "doGet_8",
        "parameters" : [ {
          "name" : "TargetCorpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/CorpusDocumentAnnotationSubannotationsZScores" : {
      "get" : {
        "operationId" : "doGet_9",
        "parameters" : [ {
          "name" : "TargetCorpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "AggregateName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/CorpusDocumentAnnotationsSimilarity" : {
      "get" : {
        "operationId" : "doGet_10",
        "parameters" : [ {
          "name" : "TargetCorpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/CorpusDocumentAnnotationsZScores" : {
      "get" : {
        "operationId" : "doGet_11",
        "parameters" : [ {
          "name" : "TargetCorpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "AggregateName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/DocumentAnnotation" : {
      "get" : {
        "operationId" : "doGet_12",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Format",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/DocumentAnnotations" : {
      "get" : {
        "operationId" : "doGet_13",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/LexiconLemma" : {
      "get" : {
        "operationId" : "doGet_14",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Lemma",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/PstLayout" : {
      "get" : {
        "operationId" : "doGet_15",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/html; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/Search" : {
      "post" : {
        "operationId" : "doPost",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "Corpus" : {
                    "type" : "string"
                  },
                  "Document" : {
                    "type" : "string"
                  },
                  "q" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/SentencesAnnotationScalar" : {
      "get" : {
        "operationId" : "doGet_16",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Format",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/SentencesAnnotationScalarText" : {
      "get" : {
        "operationId" : "doGet_17",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Format",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/SentencesAnnotationSubannotationScalar" : {
      "get" : {
        "operationId" : "doGet_18",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Subannotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Format",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/SentencesAnnotationSubannotationScalarText" : {
      "get" : {
        "operationId" : "doGet_19",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Subannotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Format",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/TokenIdxSentence" : {
      "get" : {
        "operationId" : "doGet_20",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "TokenIdx",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/TokensAnnotationScalar" : {
      "get" : {
        "operationId" : "doGet_21",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Format",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/api/TokensAnnotationSubannotationScalar" : {
      "get" : {
        "operationId" : "doGet_22",
        "parameters" : [ {
          "name" : "Corpus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Document",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Annotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Subannotation",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Format",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    }
  }
}